header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 180px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: darkorchid;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: coral; 
    text-decoration: underline;
}

.fotinhas img {
    width: 250px;
    height: 250px;
}

.fotinhas{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.fotinhas li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px dashed coral;
    border-radius: 10px;
}

.fotinhas li:hover{
    border-color: darkorchid;
}

.fotinhas li:hover h2{
    font-size: 35px;
}

.fotinhas h2 {
    font-size: 30px;
    font-weight: bold;
}

.fotinhas p {
    font-size: 18px;
}

footer {
    text-align: center;
    background: #CCCCCC;
    padding: 40px 0;
}

.finalone {
    margin: 20px 0 0;
}

.finaltwo {
    margin: 20px 0 0;
}

.imgprinc {
    width: 100%;
}

.h2principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.imgfilmografia {
    width: 60%;
}