body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 180px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: darkorchid;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: coral; 
    text-decoration: underline;
}

.fotinhas img {
    width: 250px;
    height: 250px;
}

.fotinhas{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.fotinhas li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px dashed coral;
    border-radius: 10px;
}

.fotinhas li:hover{
    border-color: darkorchid;
}

.fotinhas li:hover h2{
    font-size: 35px;
}

.fotinhas h2 {
    font-size: 30px;
    font-weight: bold;
}

.fotinhas p {
    font-size: 18px;
}

footer {
    text-align: center;
    background: #CCCCCC;
    padding: 40px 0;
}

.finalone {
    margin: 20px 0 0;
}

.finaltwo {
    margin: 20px 0 0;
}

.imgprinc {
    width: 100%;
}

.tituloprincipal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.feleanavitoria {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
    
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.filmografia {
    padding: 3em 0;
    background: #888888;
    
}

.conteudo-filmografia {
    width: 640px;
    margin: 0 auto;
}

.lista-filmografia {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:before {
    content: "★";
}

.itens:first-child {
    font-weight: bold;
}

.imgfilmografia {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px #000000;
}

.imgfilmografia:hover {
    opacity: 0.3;
}


.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-filmografia, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    .container img{
            max-width:250px;
            max-height:250px;
            width: auto;
            height: auto;
    }

    nav {
        position: static;
    }

    .lista-filmografia, .imgfilmografia {
        width: 100%;
    }

    .fotinhas {
        width: 100%;
        text-align: center;
    }

    .fotinhas li {
        width: auto;
        text-align: center;
    }

}